<<<<<<< HEAD
=======
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700); */

>>>>>>> 637c8dc56a0aa3d53807e8d4a9c0d345ec7c087c
.round-button {
  width:103px;
  height:100px;
  border: 2px solid #6dcc85;
  border-radius: 50%;
  color:#6dcc85;
  text-align:center;
  text-decoration:none;
  background:white;
  box-shadow: 0 0 3px gray;
  font-size:18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin:0px 40px;
  line-height: 1.5;
  vertical-align: middle;  
}
.round-button:hover {
  background: #6dcc85;
  color: white;
}
.round-button:active {
  outline: none;
  border: none;
  }
  
.round-button:focus {
  outline: none;
}

 .recipe-container{
  padding:0 14%;
  margin: 0;
} 

.col-md-4 {
  padding: 0;
} 

 /* .card-body{
  
  text-align: -webkit-center;
  height: 163px;
} */
.button-group{
  float: right;
  display: inline-block;
  text-align: center;
  margin: 10% 18% 5%;
}
.in-button{
  margin-top: 37px;
}

.recipeName{
  /* -webkit-text-stroke: 1px #6dcc85; */
  color: papayawhip;
  text-shadow:
       3px 3px 0 #6dcc85,
     -1px -1px 0 #6dcc85,  
      1px -1px 0 #6dcc85,
      -1px 1px 0 #6dcc85,
       1px 1px 0 #6dcc85;
  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-style:  italic;
  text-align: center;
}
.prep-time{
  font-weight: bold;
  color: papayawhip;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
  background-color:#6dcc85 ;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 20px;
  font-size: 0.8em;
}

/* Shopping List CSS Starts Here */

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("/image/ingredientsbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.app {
  width: 100vm;
  height: 100vm;
}

h1 {
  size: 100px;
}

.shoppinglist-overall {
  margin-top: 8%;
  text-align: center;
}

.shopping-overall-stores {
  margin-top: 50px;
}

.totalprice-style {
  height: 50px;
  text-align: left;
  margin-top: 6%;
  margin-left: 5vw;
  margin-bottom: 3vw;
}

.input-people-div {
  float:right;
  margin-right: 5vw;
}

.input-people {
  text-align: center;
  text-decoration: darkgrey;
  height: 50px;
  border-radius: 16px;
  border-style:solid;
  border-color:lightgrey;
}

.itemjs-card-style {
  box-shadow: hsl(0, 0%, 85%) 0 0 8px 0px;
  border: none;
  text-align: center;
  max-width: 20%;
  padding: 3% 1%;
  display: inline-block;
  margin: 20px;
  text-decoration-style: bold;
}

.ingredient-image-size {
  height: 45%;
  width: 45%;
}

/* .item-box {
  padding: 0px;
} */

/* copied recipe files from github  */

.label-container{
	position:fixed;
	bottom:48px;
	right:87px;
	display:table;
  visibility: hidden;
  z-index: 2;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:24px;
	border:solid 1px #6dcc85;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:22px;
  margin-top:18px;
  color: #6dcc85;
}


a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;

}
a.float:hover{
  background-color: #6dcc85;
  
}

a.float:hover .my-float{
  color: papayawhip;
}
.jumbotron{
  /* height: 341px; */
}
.recipe-title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}