@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.round-button {
  width:103px;
  height:100px;
  border: 2px solid #6dcc85;
  border-radius: 50%;
  color:#6dcc85;
  text-align:center;
  text-decoration:none;
  background:white;
  box-shadow: 0 0 3px gray;
  font-size:18px;
  font-weight: 300;

  margin:0px 40px;
  line-height: 1.5;
  vertical-align: middle;  
}
.round-button:hover {
  background: #6dcc85;
  color: white;
}
.round-button:active {
  outline: none;
  border: none;
  }
  
.round-button:focus {
  outline: none;
}

 .recipe-container{
  padding:0 14%;
  margin: 0;
} 

.col-md-4 {
  padding: 0;
} 

 /* .card-body{
  
  text-align: -webkit-center;
  height: 163px;
} */
.button-group{
  text-align: center;
  margin: 5% 0;
}
.in-button{
  margin-top: 37px;
}

.recipeName{
  /* -webkit-text-stroke: 1px #6dcc85; */
  color: papayawhip;
  text-shadow:
       3px 3px 0 #6dcc85,
     -1px -1px 0 #6dcc85,  
      1px -1px 0 #6dcc85,
      -1px 1px 0 #6dcc85,
       1px 1px 0 #6dcc85;
  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-style:  italic;
  text-align: center;
}
.prep-time{
  font-weight: bold;
  color: papayawhip;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
  background-color:#6dcc85 ;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 20px;
  font-size: 0.8em;
}

/* Shopping List CSS Starts Here */

body {
  background-color: aliceblue;
  background-image: url("/image/shoppinglistbg2.png");
}

h1 {
  size: 100px;
}

.shoppinglist-overall {
  margin: 5%;
  text-align: center;
}

.totalprice-style {
  height: 50px;
  text-align: left;
  margin-top: 6%;
  margin-bottom: 1%;
}

.input-people-div {
  float:right;
}

.input-people {
  text-align: center;
  height: 50px;
  border-radius: 16px;
  box-shadow: none;
}

.itemjs-card-style {
  box-shadow: hsl(0, 0%, 85%) 0 0 8px 0px;
  border: none;
  /* box-border: #6dcc85; */
  height: 200px;
  text-align: center;
  /* width: 90%; */
  margin-top: 3%;
  display: inline-block;
  margin: 20px;
  text-decoration-style: bold;
}

.item-box {
  padding: 0;
}

/* copied recipe files from github  */

.label-container{
	position:fixed;
	bottom:48px;
	right:87px;
	display:table;
  visibility: hidden;
  z-index: -1;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:24px;
	border:solid 1px #6dcc85;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:22px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;

}
a.float:hover{
  background-color: #6dcc85;
}
.card-deck .card {

  z-index: -111;
} 