.Search {
    margin: 20px;
}

.thisList{
    float:right;
    margin-top: 55px;
    margin-right: -293px;
}

.itemListMain{
    float:right;
    width: 24%;
    margin-top: -1px;
    margin-right: 45px;
}

.SearchInput{
    border-radius:50px;
    margin-right: 10px;
    outline:none;
    border-style:solid;
}

.SearchButton:active{
    outline: none;
    border: none;
    color:#6dcc85;
}
.SearchButton:focus {
    outline: none;
  }

a {
    margin: 10px 0 0 10px;
}

.getStarted:active{
    margin-top: 10px;
    margin-left: 50px;
    float:left;
    outline: none;
    border: none;
    color:#6dcc85;
}

.getStarted:focus {
    outline: none;
  }

.react-slidedown {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

/* Parallax Styles */

section {
    width: 100%;
    height: 100vh;
    padding: 5em;
    box-sizing: border-box;
}

.chipmunk{
    position: absolute;
    bottom: 10;
    left:8%;
    z-index:2;
}

.path{
    position: absolute;
    top: 0%;
    left:0;
    width: 100%;
    z-index: 1;
}

.clearing{
    position: fixed;
    height: 100vh;
    z-index: 0;
    top: 80px;
    left: 0;
    bottom:100;
    width:100%;
}

/* Parallax text values */ 

h1{
    margin: 1em 0 0 0;
    font-size: 3em;
    text-align: center;
}

p{
    font-size: 1.4em;
    margin:0;
    font-weight: bold;
    opacity: 0.6;
    text-align: center;
}

